@model List<ProfileViewModel>

@foreach(ProfileViewModel p in Model)
{
    <div class="search-result">
        <p>@p.UserName</p>
        <p>@p.Email</p>
        <a class ="button" asp-controller="Users" asp-action="UserProfileResult" asp-route-userId="@p.UserId">View profile</a>
    </div>
}
