@model Job

<h4>Add a job to your tracker:</h4>

<p>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Add">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Company" />
                <div class="form-group">
                    <label asp-for="Company" class="control-label"></label>
                    <input asp-for="Company" class="form-control" />
                    <span asp-validation-for="Company" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Position" class="control-label"></label>
                    <input asp-for="Position" class="form-control" />
                    <span asp-validation-for="Position" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contact" class="control-label"></label>
                    <input asp-for="Contact" class="form-control" />
                    <span asp-validation-for="Contact" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfApplication" class="control-label"></label>
                    <input asp-for="DateOfApplication" class="form-control" />
                    <span asp-validation-for="DateOfApplication" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FollowUp" class="control-label"></label>
                    <input asp-for="FollowUp" class="form-control" />
                    <span asp-validation-for="FollowUp" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CompanySite" class="control-label"></label>
                    <input asp-for="CompanySite" class="form-control" />
                    <span asp-validation-for="CompanySite" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Responded" class="control-label"></label>
                    <input asp-for="Responded" class="form-control" />
                    <span asp-validation-for="Responded" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notes" class="control-label"></label>
                    <input asp-for="Notes" class="form-control" />
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
                @*@Html.HiddenFor(x => x.UserId)*@
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</p>