<h4>Add a job to your tracker:</h4>

<form asp-action="AddJob" asp-controller="Job">
    <label for="company">Company name:</label>
    <input type="text" id="company" />
    <br />
    <label for="position">Position applied for:</label>
    <input type="text" id="position" />
    <br />
    <label for="contact">Contact:</label>
    <input type="text" id="contact" />
    <br />
    <label for="method">Application method:</label>
    <input type="text" id="method" />
    <br />
    <label for="dateofapplication">Date of application:</label>
    <input type="date" id="dateofapplication" />
    <br />
    <label for="link">Link to job posting:</label>
    <input type="text" id="link" />
    <br />
    <label for="followup">Company name:</label>
    <input type="text" id="followup" />
    <br />
    <label for="companysite">Company website:</label>
    <input type="text" id="companysite" />
    <br />
    <label for="responded">Responded?</label>
    <input type="text" id="responded" />
    <br />
    <label for="notes">Company name:</label>
    <input type="text" id="notes" />
    <br />
</form>