@using FinalProject.Helpers;
@model List<Result>

@foreach(Result r in Model)
{
    <p>Title: @TextHelper.RemoveHTML(r.title)</p>
    <p>Description: @TextHelper.RemoveHTML(r.description)</p>
    <a asp-controller="Job" asp-action="AddFromSearch" asp-route-id="@r.id">Add to saved jobs</a>
}