<h1>Job Search</h1>

<form asp-action="Search" asp-controller="Job">
    <label for="country">Country:</label>
    <select name="country" id="country">
        <option value="us">US</option>
    </select>
</form>