<h1>Job Search</h1>

<form asp-action="Search" asp-controller="Job">
    <label for="country">Country:</label>
    <select name="country" id="country">
        <option value="us">US</option>
    </select>
    <br/>

    <label for="what">What kind of job are you looking for? (Example: ".NET Developer" or ".NET, SQL")</label>
    <input type="text" name="what" />
    <br/>

    <label for="where">Where do you want a job? (State, County, or City)</label>
    <input type="text" name="where" />
    <input type="submit" />
</form>