@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>Email confirmed! Log in to begin using DevTracker!</h1>
<br/>

<h4><a asp-controller="Home" asp-action="Index">Login</a></h4>