/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.search-result {
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button {
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 10px;
}

.recommend {
    margin-top: 32%;
}

.background-text {
    background-color: #EEEEEE;
    padding: 2px 6px 2px 6px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 10px;
}

.background-image {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(255,255,255,0.5)), url('https://images.unsplash.com/photo-1611095971113-9f7542655338?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1351&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-content: center;
}

.search-box {
    background-color: #EEEEEE;
    padding: 6px 2px 2px 2px;
    border-radius: 10px;
    margin: 10px;
}

.centering {
    margin-top: 30%;
    background-color: #EEEEEE;
    border-radius: 10px;
}

/* Styling for the parent button */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
}

/* Change collapsible background color on hover and after onclick */
.active, .collapsible:hover {
    background-color: #ccc;
}

/* Styling for the collapsible content. Note: hidden by default */
.content {
    padding: 0 4px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Styling for child collaspible content */
.box {
    border-radius: 25px;
    background-color: white;
    display: block;
    padding: 1.25rem;
}

/* BEGIN */
/* Everything until END is used for styling of a container for each category collapsible */
.whole-collapsible-0 {
    padding: 0 8px;
    background-color: #eee;
    border-radius: 3px;
    text-align: center;
}

.whole-collapsible-1 {
    padding: 0 8px;
    background-color: #eee;
    border-radius: 3px;
    text-align: center;
}

.whole-collapsible-2 {
    padding: 0 8px;
    background-color: #eee;
    border-radius: 3px;
    text-align: center;
}

/* The following are for changing background on hover and on active */
.whole-collapsible-0.active, .whole-collapsible-0:hover {
     background-color: #ccc;
}

.whole-collapsible-1.active, .whole-collapsible-1:hover {
    background-color: #ccc;
}

.whole-collapsible-2.active, .whole-collapsible-2:hover {
    background-color: #ccc;
}
/* END */


ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

ul.dropdown-menu::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 130%;
    height: 130%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    /*border: 1px solid green;*/ /* for demo purposes */
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: linear-gradient(180deg, lightblue, white)
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
