<head>
    <style>
        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        div {
            text-align: center;
        }
    </style>
</head>
<body>

    <h1>Your preferences have been saved.</h1>
    <p> Your search results will now recommend you jobs based on the categories you have chosen.</p>
    <p>Click <a asp-action="Index" asp-controller="Home">here</a> to start searching for your next Software Engineer opportunity!</p>

</body>
