@model List<ProfileViewModel>

@{
    ViewData["Title"] = "Search User Results";
}

@foreach (ProfileViewModel p in Model)
{

<a class="divclick" asp-controller="Users" asp-action="UserProfileResult" asp-route-userId="@p.UserId">
    
    <div class="centering2">
        <h4>@p.UserName</h4>
        <p>Location: @p.Location</p>
    </div>
</a>

 }


