@model List<ProfileViewModel>

<form name="SearchUsersName" asp-controller="Users" asp-action="SearchUsersName" method="post" placeholder="Search by UserName">

    <input type="text" name="searchedName" />

    <input type="submit" />
</form>